<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Archiva - Student Performance Tracker System Themefisher.com</title>
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/favicon.png}">
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>

<body>

<div id="preloader">
    <div class="loader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
        </svg>
    </div>
</div>

<div id="main-wrapper">

    <div class="nav-header">
        <div class="brand-logo">
            <a href="index.html">
                <b class="logo-abbr"><img src="images/logo.png" alt=""> </b>
                <span class="logo-compact"><img src="./images/logo-compact.png" alt=""></span>
                <span class="brand-title">
                        <img src="images/logo-text.png" alt="">
                    </span>
            </a>
        </div>
    </div>

    <div class="header">
        <div class="header-content clearfix">
            <div class="nav-control">
                <div class="hamburger">
                    <span class="toggle-icon"><i class="icon-menu"></i></span>
                </div>
            </div>
            <div class="header-left">

            </div>
            <div class="header-right">
                <ul class="clearfix">
                    <!-- Messages -->

                        <div class="drop-down animated fadeIn dropdown-menu">
                            <div class="dropdown-content-heading d-flex justify-content-between">
                                <span class="">3 New Messages</span>
                            </div>
                            <div class="dropdown-content-body">
                                <ul>
                                    <li class="notification-unread">
                                        <a href="javascript:void()">
                                            <img class="float-left mr-3 avatar-img" th:src="${user.profilePictureUrl}" alt="User Avatar">
                                            <div class="notification-content">
                                                <div class="notification-heading">Saiful Islam</div>
                                                <div class="notification-timestamp">08 Hours ago</div>
                                                <div class="notification-text">Hi Teddy, Just wanted to let you ...</div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="notification-unread">
                                        <a href="javascript:void()">
                                            <img class="float-left mr-3 avatar-img" src="images/avatar/2.jpg" alt="">
                                            <div class="notification-content">
                                                <div class="notification-heading">Adam Smith</div>
                                                <div class="notification-timestamp">08 Hours ago</div>
                                                <div class="notification-text">Can you do me a favour?</div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void()">
                                            <img class="float-left mr-3 avatar-img" src="images/avatar/3.jpg" alt="">
                                            <div class="notification-content">
                                                <div class="notification-heading">Barak Obama</div>
                                                <div class="notification-timestamp">08 Hours ago</div>
                                                <div class="notification-text">Hi Teddy, Just wanted to let you ...</div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void()">
                                            <img class="float-left mr-3 avatar-img" src="images/avatar/4.jpg" alt="">
                                            <div class="notification-content">
                                                <div class="notification-heading">Hilari Clinton</div>
                                                <span class="notification-timestamp">08 Hours ago</span>
                                                <div class="notification-text">Hello</div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <!-- Notifications -->

                        <div class="drop-down animated fadeIn dropdown-menu dropdown-notfication">
                            <div class="dropdown-content-heading d-flex justify-content-between">
                                <span class="">2 New Notifications</span>
                            </div>
                            <div class="dropdown-content-body">
                                <ul>
                                    <li>
                                        <a href="javascript:void()">
                                            <span class="mr-3 avatar-icon bg-success-lighten-2"><i class="icon-present"></i></span>
                                            <div class="notification-content">
                                                <h6 class="notification-heading">Events near you</h6>
                                                <span class="notification-text">Within next 5 days</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void()">
                                            <span class="mr-3 avatar-icon bg-danger-lighten-2"><i class="icon-present"></i></span>
                                            <div class="notification-content">
                                                <h6 class="notification-heading">Event Started</h6>
                                                <span class="notification-text">One hour ago</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void()">
                                            <span class="mr-3 avatar-icon bg-success-lighten-2"><i class="icon-present"></i></span>
                                            <div class="notification-content">
                                                <h6 class="notification-heading">Event Ended Successfully</h6>
                                                <span class="notification-text">One hour ago</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void()">
                                            <span class="mr-3 avatar-icon bg-danger-lighten-2"><i class="icon-present"></i></span>
                                            <div class="notification-content">
                                                <h6 class="notification-heading">Events to Join</h6>
                                                <span class="notification-text">After two days</span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <!-- User Profile -->
                    <li class="icons dropdown">
                        <div class="user-img c-pointer position-relative" data-toggle="dropdown">
                            <span class="activity active"></span>
                            <img th:src="${user.profilePictureUrl}" height="40" width="40" alt="">
                        </div>
                        <div class="drop-down dropdown-profile dropdown-menu">
                            <div class="dropdown-content-body">
                                <ul>
                                    <li><a th:href="@{/profile}"><i class="icon-user"></i> <span>Profile</span></a></li>
                                    <li>
                                        <a th:href="@{/inbox}"><i class="icon-envelope-open"></i> Inbox <span th:text="${unreadCount != null ? unreadCount : (messages != null ? messages.size() : 0)}" class="badge gradient-3 badge-pill badge-primary"></span>
                                            </span></a>
                                    </li>
                                    <li><a th:href="@{/login}"><i class="icon-key"></i> <span>Logout</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="nk-sidebar">
        <div class="nk-nav-scroll">
            <ul class="metismenu" id="menu">
                <li><a th:href="@{/}"><span class="nav-text">Dashboard</span></a></li>
                <li><a th:href="@{/profile}"><i class="icon-screen-tablet menu-icon"></i><span class="nav-text">Profile</span></a></li>

                <li><a th:href="@{/inbox}" aria-expanded="false"><i class="icon-envelope menu-icon"></i> <span class="nav-text">Mail</span></a></li>


                <li class="mega-menu mega-menu-sm">
                    <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                        <i class="icon-globe-alt menu-icon"></i><span class="nav-text">Settings</span>
                    </a>
                    <ul aria-expanded="false">
                        <li><a th:href="@{/login}">Signout</a></li>
                        <li><a th:href="@{/forgotpass}">Forgot Password</a></li>
                        <li><a th:href="@{/helpFeed}">Help and Feedback</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>

    <div class="content-body">

        <div class="row page-titles mx-0">
            <div class="col p-md-0">
                <ol class="breadcrumb">

                </ol>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="media align-items-center mb-4">
                                <img class="mr-3" th:src="${user.profilePictureUrl}" width="200" height="200" alt="">
                                <div class="media-body">
                                    <h3 class="mb-0">
                                        <strong>NAME:</strong>
                                        <span th:text="${user.name}">Pikamy Cha</span>
                                    </h3>
                                    <span class="email-display" style="font-size: 1.5rem; font-weight: 500; color: #495057;">
                                        <strong>EMAIL:</strong>
                                        <span th:text="${user.email}">name@domain.com</span>
                                    </span>
                                    <!-- Change Profile Picture Dropdown -->
                                    <div class="mt-2">
                                        <button type="button" class="btn btn-secondary" id="changeProfileBtn">Change Profile Picture</button>

                                        <!-- Dropdown Input and Update Button (hidden initially) -->
                                        <div id="profilePicInputContainer" style="display: none; margin-top: 10px;">
                                            <form th:action="@{/update/profile-picture}" method="post">
                                                <input type="text" name="profilePictureUrl" id="profilePicUrl" class="form-control mb-2" placeholder="Enter image URL" required>
                                                <button type="submit" class="btn btn-primary">Update Picture</button>
                                                <button type="button" class="btn btn-secondary" id="cancelProfileBtn">Cancel</button>
                                            </form>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <!-- Change Details Form -->
                            <div class="row">
                                <div class="col-12">
                                    <div class="card mt-4" style="border: 1px solid #e0e0e0; box-shadow: 0 2px 6px rgba(0,0,0,0.05);">
                                        <div class="card-body">
                                            <div th:if="${success}" class="alert alert-success" th:text="${success}"></div>
                                            <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>

                                            <h5 class="card-title mb-4">Update Profile</h5>
                                            <form th:action="@{/profile/update}" method="post">
                                                <div class="form-group mb-3">
                                                    <label for="name">Change Name</label>
                                                    <input type="text" class="form-control" id="name" name="name" placeholder="Enter new name" th:value="${user.name}">
                                                </div>
                                                <div class="form-group mb-3">
                                                    <label for="email">Change Email</label>
                                                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter new email" th:value="${user.email}">
                                                </div>
                                                <div class="form-group mb-4">
                                                    <label for="currentpassword">Enter current password</label>
                                                    <input type="password" class="form-control" id="currentpassword" name="cpassword" placeholder="Required">
                                                </div>
                                                <div class="form-group mb-4">
                                                    <label for="newpassword">Enter new password</label>
                                                    <input type="password" class="form-control" id="newpassword" name="npassword" placeholder="Optional">
                                                </div>
                                                <div class="form-group mb-4">
                                                    <label for="retypepassword">Re-type new password</label>
                                                    <input type="password" class="form-control" id="retypepassword" name="rpassword" placeholder="Re-type new password">
                                                </div>
                                                <button type="submit" class="btn btn-primary">Save Changes</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <ul class="card-profile__info" style="display: none;">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="plugins/common/common.min.js"></script>
    <script src="js/custom.min.js"></script>
    <script src="js/settings.js"></script>
    <script src="js/gleek.js"></script>
    <script src="js/styleSwitcher.js"></script>
    <script>
        const changeBtn = document.getElementById('changeProfileBtn');
        const inputContainer = document.getElementById('profilePicInputContainer');
        const cancelBtn = document.getElementById('cancelProfileBtn');

        changeBtn.addEventListener('click', () => {
            changeBtn.style.display = 'none';
            inputContainer.style.display = 'block';
        });

        cancelBtn.addEventListener('click', () => {
            inputContainer.style.display = 'none';
            changeBtn.style.display = 'inline-block';
        });

    </script>

</body>
</html>
