<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Quixlab - Bootstrap Admin Dashboard Template by Themefisher.com</title>
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/favicon.png}">
    <link th:href="@{/css/style.css}" rel="stylesheet">

</head>

<body>

    <!--
        Preloader start
   -->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--
        Preloader end
   -->


    <!--
        Main wrapper start
   -->
    <div id="main-wrapper">

        <!--
            Nav header start
        -->
        <div class="nav-header">
            <div class="brand-logo">
                <a href="index.html">
                    <b class="logo-abbr"><img src="images/logo.png" alt=""> </b>
                    <span class="logo-compact"><img src="./images/logo-compact.png" alt=""></span>
                    <span class="brand-title">
                        <img src="images/logo-text.png" alt="">
                    </span>
                </a>
            </div>
        </div>
        <!--
            Nav header end
        -->

        <!--
            Header start
        -->
        <div class="header">
            <div class="header-content clearfix">

                <div class="nav-control">
                    <div class="hamburger">
                        <span class="toggle-icon"><i class="icon-menu"></i></span>
                    </div>
                </div>
                <div class="header-left">
                    <div class="input-group icons">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-transparent border-0 pr-2 pr-sm-3" id="basic-addon1"><i class="mdi mdi-magnify"></i></span>
                        </div>
                        <input type="search" class="form-control" placeholder="Search Dashboard" aria-label="Search Dashboard">
                        <div class="drop-down   d-md-none">
							<form action="#">
								<input type="text" class="form-control" placeholder="Search">
							</form>
                        </div>
                    </div>
                </div>
                <div class="header-right">
                    <ul class="clearfix">

                            <div class="drop-down animated fadeIn dropdown-menu">
                                <div class="dropdown-content-heading d-flex justify-content-between">
                                    <span class="">3 New Messages</span>

                                </div>
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li class="notification-unread">
                                            <a href="javascript:void()">
                                                <img class="float-left mr-3 avatar-img" src="images/avatar/1.jpg" alt="">
                                                <div class="notification-content">
                                                    <div class="notification-heading">Saiful Islam</div>
                                                    <div class="notification-timestamp">08 Hours ago</div>
                                                    <div class="notification-text">Hi Teddy, Just wanted to let you ...</div>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="notification-unread">
                                            <a href="javascript:void()">
                                                <img class="float-left mr-3 avatar-img" src="images/avatar/2.jpg" alt="">
                                                <div class="notification-content">
                                                    <div class="notification-heading">Adam Smith</div>
                                                    <div class="notification-timestamp">08 Hours ago</div>
                                                    <div class="notification-text">Can you do me a favour?</div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void()">
                                                <img class="float-left mr-3 avatar-img" src="images/avatar/3.jpg" alt="">
                                                <div class="notification-content">
                                                    <div class="notification-heading">Barak Obama</div>
                                                    <div class="notification-timestamp">08 Hours ago</div>
                                                    <div class="notification-text">Hi Teddy, Just wanted to let you ...</div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void()">
                                                <img class="float-left mr-3 avatar-img" src="images/avatar/4.jpg" alt="">
                                                <div class="notification-content">
                                                    <div class="notification-heading">Hilari Clinton</div>
                                                    <div class="notification-timestamp">08 Hours ago</div>
                                                    <div class="notification-text">Hello</div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </li>

                            <div class="drop-down animated fadeIn dropdown-menu dropdown-notfication">
                                <div class="dropdown-content-heading d-flex justify-content-between">
                                    <span class="">2 New Notifications</span>

                                </div>
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li>
                                            <a href="javascript:void()">
                                                <span class="mr-3 avatar-icon bg-success-lighten-2"><i class="icon-present"></i></span>
                                                <div class="notification-content">
                                                    <h6 class="notification-heading">Events near you</h6>
                                                    <span class="notification-text">Within next 5 days</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void()">
                                                <span class="mr-3 avatar-icon bg-danger-lighten-2"><i class="icon-present"></i></span>
                                                <div class="notification-content">
                                                    <h6 class="notification-heading">Event Started</h6>
                                                    <span class="notification-text">One hour ago</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void()">
                                                <span class="mr-3 avatar-icon bg-success-lighten-2"><i class="icon-present"></i></span>
                                                <div class="notification-content">
                                                    <h6 class="notification-heading">Event Ended Successfully</h6>
                                                    <span class="notification-text">One hour ago</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void()">
                                                <span class="mr-3 avatar-icon bg-danger-lighten-2"><i class="icon-present"></i></span>
                                                <div class="notification-content">
                                                    <h6 class="notification-heading">Events to Join</h6>
                                                    <span class="notification-text">After two days</span>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </li>
                        <li class="icons dropdown">
                            <div class="user-img c-pointer position-relative"   data-toggle="dropdown">
                                <span class="activity active"></span>
                                <img src="images/user/1.png" height="40" width="40" alt="">
                            </div>
                            <div class="drop-down dropdown-profile   dropdown-menu">
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li>
                                            <a th:href="@{/profile}"><i class="icon-user"></i> <span>Profile</span></a>
                                        </li>
                                        <li>
                                            <a th:href="@{/inbox}"><i class="icon-envelope-open"></i> <span>Inbox</span> <div class="badge gradient-3 badge-pill badge-primary">3</div></a>
                                        </li>

                                        <li><a th:href="@{/login}"><i class="icon-key"></i> <span>Logout</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--
            Header end ti-comment-alt
        -->

        <!--
            Sidebar start
       -->
        -->
        <div class="nk-sidebar">
            <div class="nk-nav-scroll">
                <ul class="metismenu" id="menu">

                    <li>
                        <a th:href="@{/}">
                            <span class="nav-text">Dashboard</span>
                        </a>
                    </li>

                    <li>
                        <a th:href="@{/profile}">
                            <i class="icon-screen-tablet menu-icon"></i><span class="nav-text">Profile</span>
                        </a>

                    </li>


                    <li>
                        <a th:href="@{/inbox}" aria-expanded="false">
                            <i class="icon-envelope menu-icon"></i> <span class="nav-text">Mail</span>
                        </a>

                    </li>

                    <li class="mega-menu mega-menu-sm">
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-globe-alt menu-icon"></i><span class="nav-text">Settings</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a th:href="@{/login}">Signout</a></li>
                            <li><a th:href="@{/forgotpass}">Forgot Password</a></li>
                            <li><a th:href="@{/helpFeed}">Help and Feedback</a></li>

                        </ul>
                    </li>








                    <!--
                                     <li>
                                         <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                                             <i class="icon-menu menu-icon"></i><span class="nav-text">Table</span>
                                         </a>
                                         <ul aria-expanded="false">
                                             <li><a href="./table-basic.html" aria-expanded="false">Basic Table</a></li>
                                             <li><a href="./table-datatable.html" aria-expanded="false">Data Table</a></li>
                                         </ul>
                                     </li>  -->



                </ul>
            </div>
        </div>
        <!--
            Sidebar end
           -->

        <!--
            Content body start
                               -->
        <div class="content-body">

            <div class="row page-titles mx-0">
                <div class="col p-md-0">
                    <ol class="breadcrumb">
                    </ol>
                </div>
            </div>
            <!-- row -->

            <div class="container-fluid">
                <!-- START: ADD THIS FLASH MESSAGE BLOCK -->
                <div th:if="${success}" class="alert alert-success alert-dismissible fade show" role="alert">
                    <span th:text="${success}"></span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div th:if="${error}" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <span th:text="${error}"></span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-- END: FLASH MESSAGE BLOCK -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <!-- START of fixed email-left-box section -->
                                <div class="email-left-box"><a th:href="@{/compose}" class="btn btn-primary btn-block">Compose</a>
                                    <div class="mail-list mt-4">
                                        <!-- 1. Inbox Link -->
                                        <a th:href="@{/inbox}" class="list-group-item border-0 text-primary p-r-0">
                                            <i class="fa fa-inbox font-18 align-middle mr-2"></i> Inbox
                                            <span th:text="${unreadCount != null ? unreadCount : (messages != null ? messages.size() : 0)}" class="badge badge-primary badge-sm float-right m-t-5"></span>
                                        </a>

                                        <!-- 2. Sent Link (NEW) -->
                                        <a th:href="@{/sent}" class="list-group-item border-0 p-r-0">
                                            <i class="fa fa-paper-plane font-18 align-middle mr-2"></i>Sent
                                            <!-- NOTE: Changed variable to 'sentCount' for accuracy, if you implement it -->
                                            <span th:text="${sentCount != null ? sentCount : (messages != null ? messages.size() : 0)}" class="badge badge-primary badge-sm float-right m-t-5"></span>
                                        </a>
                                    </div>
                                </div>
                                <!-- END of fixed email-left-box section -->

                                <div class="email-right-box">
                                    <div role="toolbar" class="toolbar">
                                        <div class="btn-group">
                                            <button aria-expanded="false" data-toggle="dropdown" class="btn btn-dark dropdown-toggle" type="button">More <span class="caret m-l-5"></span>
                                            </button>
                                            <div class="dropdown-menu"><span class="dropdown-header">More Option :</span>  <a href="javascript: void(0);" class="dropdown-item">Mark as Unread</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="email-list m-t-15">

                                        <!-- Show message if inbox is empty -->
                                        <div th:if="${messages == null || messages.isEmpty()}" class="text-center p-5 text-muted">
                                            You have no messages in your inbox.
                                        </div>

                                        <!-- START: DYNAMIC MESSAGE LIST ITERATION (Corrected for Safe Navigation) -->
                                        <div th:each="message : ${messages}"
                                             th:classappend="${message.getRead() ? '' : 'unread'}"
                                             class="message">

                                            <a th:href="@{/read(messageId=${message.id})}">
                                                <div class="col-mail col-mail-1">
                                                    <div class="email-checkbox">
                                                        <!-- Checkbox IDs are made unique using message.id -->
                                                        <input type="checkbox" th:id="'chk' + ${message.id}">
                                                        <label class="toggle" th:for="'chk' + ${message.id}"></label>
                                                    </div>
                                                    <span class="star-toggle ti-star"></span>
                                                </div>
                                                <div class="col-mail col-mail-2">
                                                    <div class="subject">
                                                        <!-- CRITICAL FIX: Use ?. to safely access sender name, or use 'System Message' as fallback -->
                                                        <span th:text="${message.sender?.name ?: 'System Message'}" class="text-dark font-weight-bold mr-2">Sender Name</span>
                                                        <span th:text="${message.subject}">Message Subject</span>
                                                        -
                                                        <!-- Use #strings.abbreviate and provide a fallback for null content -->
                                                        <span th:text="' - ' + ${#strings.abbreviate(message.content ?: 'No preview available', 40)}" class="message-snippet text-muted">Content Snippet</span>
                                                    </div>
                                                    <!-- Formatted Timestamp -->
                                                    <div class="date" th:text="${#temporals.format(message.timestamp, 'MMM dd, HH:mm')}">Timestamp</div>
                                                </div>
                                            </a>
                                        </div>
                                        <!-- END: DYNAMIC MESSAGE LIST ITERATION -->

                                    </div>
                                    <!-- panel -->
                                    <div class="row">
                                        <div class="col-7">

                                        </div>
                                        <div class="col-5">
                                            <div class="btn-group float-right">
                                                <button class="btn btn-gradient" type="button"><i class="fa fa-angle-left"></i>
                                                </button>
                                                <button class="btn btn-dark" type="button"><i class="fa fa-angle-right"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                                    <!-- panel -->
                                    <div class="row">
                                        <div class="col-7">

                                        </div>
                                        <div class="col-5">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #/ container -->
        </div>
        <!--
            Content body end
        -->
    </div>
    <!--
        Main wrapper end
    -->

    <!--
        Scripts
    -->
    <script src="plugins/common/common.min.js"></script>
    <script src="js/custom.min.js"></script>
    <script src="js/settings.js"></script>
    <script src="js/gleek.js"></script>
    <script src="js/styleSwitcher.js"></script>

</body>

</html>