<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Quixlab - Bootstrap Admin Dashboard Template by Themefisher.com</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
    <!-- Custom Stylesheet -->
    <link href="css/style.css" rel="stylesheet">

</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <div class="brand-logo">
                <a href="index.html">
                    <b class="logo-abbr"><img src="images/logo.png" alt=""> </b>
                    <span class="logo-compact"><img src="./images/logo-compact.png" alt=""></span>
                    <span class="brand-title">
                        <img src="images/logo-text.png" alt="">
                    </span>
                </a>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">    
            <div class="header-content clearfix">
                
                <div class="nav-control">
                    <div class="hamburger">
                        <span class="toggle-icon"><i class="icon-menu"></i></span>
                    </div>
                </div>
                <div class="header-left">
                    <div class="input-group icons">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-transparent border-0 pr-2 pr-sm-3" id="basic-addon1"><i class="mdi mdi-magnify"></i></span>
                        </div>
                        <input type="search" class="form-control" placeholder="Search Dashboard" aria-label="Search Dashboard">
                        <div class="drop-down   d-md-none">
							<form action="#">
								<input type="text" class="form-control" placeholder="Search">
							</form>
                        </div>
                    </div>
                </div>
                <div class="header-right">
                    <ul class="clearfix">
                        <!-- Message and Notification dropdowns removed for brevity -->

                        <li class="icons dropdown">
                            <!-- This is the profile picture section -->
                            <div class="user-img c-pointer position-relative"   data-toggle="dropdown">
                                <span class="activity active"></span>
                                <!-- Safely render the profile picture or use a default fallback image -->
                                <img th:src="${user != null and user.profilePictureUrl != null and user.profilePictureUrl != ''} ? ${user.profilePictureUrl} : 'images/user/1.png'"
                                     height="40"
                                     width="40"
                                     alt="Profile Picture">
                            </div>
                            <div class="drop-down dropdown-profile   dropdown-menu">
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li>
                                            <a th:href="@{/profile}"><i class="icon-user"></i> <span>Profile</span></a>
                                        </li>
                                        <li>
                                            <!-- Use the 'unreadCount' passed from the controller -->
                                            <a th:href="@{/inbox}"><i class="icon-envelope-open"></i> <span>Inbox</span>
                                                <span th:text="${unreadCount != null ? unreadCount : 0}" class="badge gradient-3 badge-pill badge-primary"></span>
                                            </a>
                                        </li>

                                        <li><a th:href="@{/logout}"><i class="icon-key"></i> <span>Logout</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="nk-sidebar">
            <div class="nk-nav-scroll">
                <ul class="metismenu" id="menu">

                    <li>
                        <a th:href="@{/}">
                            <span class="nav-text">Dashboard</span>
                        </a>
                    </li>

                    <li>
                        <a th:href="@{/inbox}" aria-expanded="false">
                            <i class="icon-envelope menu-icon"></i> <span class="nav-text">Mail</span>
                        </a>

                    </li>
                    <li>
                        <a th:href="@{/profile}">
                            <i class="icon-screen-tablet menu-icon"></i><span class="nav-text">Profile</span>
                        </a>

                    </li>





                    <li class="mega-menu mega-menu-sm">
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-globe-alt menu-icon"></i><span class="nav-text">Settings</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a th:href="@{/login}">Signout</a></li>
                            <li><a th:href="@{/forgotpass}">Forgot Password</a></li>
                            <li><a th:href="@{/helpFeed}">Help and Feedback</a></li>

                        </ul>
                    </li>




                    <!--
                                     <li>
                                         <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                                             <i class="icon-menu menu-icon"></i><span class="nav-text">Table</span>
                                         </a>
                                         <ul aria-expanded="false">
                                             <li><a href="./table-basic.html" aria-expanded="false">Basic Table</a></li>
                                             <li><a href="./table-datatable.html" aria-expanded="false">Data Table</a></li>
                                         </ul>
                                     </li>  -->



                </ul>
            </div>
        </div>
        <!--**********************************
            Sidebar end
           ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            <div class="row page-titles mx-0">
                <div class="col p-md-0">
                    <ol class="breadcrumb">
                    </ol>
                </div>
            </div>
            <!-- row -->

            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <p><strong>To ensure we can help or incorporate your ideas, please clearly detail the problem you've encountered or explain the nature of your feedback or recommendation, and then submit your response via the form below.</strong></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="basic-form">
                                    <form>
                                        <div class="form-group">
                                            <label><strong>Comment</strong>:</label>
                                            <textarea class="form-control h-150px" rows="6" id="comment"></textarea>
                                        </div>
                                    </form>
                                    <button type="button" class="btn mb-1 btn-rounded btn-primary">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <script src="plugins/common/common.min.js"></script>
    <script src="js/custom.min.js"></script>
    <script src="js/settings.js"></script>
    <script src="js/gleek.js"></script>
    <script src="js/styleSwitcher.js"></script>

</body>

</html>